//- converts this template in to real html
//- accepts the json object as a parameter use the variable and replace it with its value

extends layout

block content
  h1= title
  p Welcome to #{title}
